@import "tailwindcss";

@font-face {
  font-family: blueberry;
  src: url("../src/assets/fonts/BlueberrySans-Bold.otf");
}

@font-face {
  font-family: blueberrymd;
  src: url("../src/assets/fonts/BlueberrySans-Regular.otf");
}

/* @theme{
  --font-blueberry: blueberry, "sans-serif";
} */

@theme{
  --font-blueberrymd: blueberrymd, "sans-serif";
}